@using Asteroids.Shared.GameStateEntities

<div class="d-block space-landscape" style="width: @(Width)px; height: @(Height)px">
    @foreach (var player in Players)
    {
        <ShipSprite Player=@player />
    }
    @foreach (var asteroid in Asteroids)
    {
        <AsteroidSprite Asteroid=@asteroid />
    }
    @foreach(var bullet in Bullets)
    {
        <BulletSprite Bullet=@bullet />
    }
</div>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<PlayerStateSnapshot> Players { get; set; } = new List<PlayerStateSnapshot>();
    [Parameter, EditorRequired]
    public IEnumerable<AsteroidSnapshot> Asteroids { get; set; } = new List<AsteroidSnapshot>();
    [Parameter, EditorRequired]
    public IEnumerable<BulletSnapshot> Bullets { get; set; } = new List<BulletSnapshot>();

    [Parameter] public int Width { get; set; } = 1000;
    [Parameter] public int Height { get; set; } = 1000;
}
