@layout AuthenticatedLayout
@page "/lobbies/{LobbyId:long}"
@inject NavigationManager Navigation
@inject SessionService SessionService
@inject IToastService ToastService

<h3>Lobby @CurrentGameState?.Lobby.Name - @CurrentGameState?.State</h3>
@if (CurrentGameState == null)
{
    <p>Loading...</p>
}
@if (CurrentGameState?.State == Shared.Lobbies.LobbyState.Joining)
{
    <button class="btn btn-primary my-2" @onclick="StartGame">Start Game</button>
}

@if (CurrentGameState?.State == Shared.Lobbies.LobbyState.Countdown)
{
    <p>Game starting in @CurrentGameState.CountDown seconds...</p>
}

@if (CurrentGameState?.State == Shared.Lobbies.LobbyState.Playing)
{
    <div>
        <button class="btn btn-primary my-2" @onclick="@(()=>HandleKeyDownAsync("w"))">spin</button>
        <Landscape Players="CurrentGameState.Players" />
        <KeyboardListener @ref="keyboardListener" KeyDown="HandleKeyDownAsync" KeyUp="HandleKeyUp" />
    </div>
}
