@layout AuthenticatedLayout
@page "/lobbies/{LobbyId:long}"
@inject NavigationManager Navigation
@inject SessionService SessionService
@inject IToastService ToastService
<h3>Lobby @CurrentGameState?.Lobby.Name</h3>

